html, body {
    height: 100%
}

html.move {
    cursor: move;
}

body {
    font: 1.5em "Consolas", monospace;
}

.item {
    position: absolute;
    margin-top: -2em;
    margin-left: -2em;
    border: 1px solid #3579CE;
    padding: 0.1em 0.5em;
    background: rgba(172, 198, 235, 0.22);
    border-radius: 0.5em;
    display: inline-block;
    /*-webkit-transition: 0.2s linear;*/
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 1em;
    }

    .item {
        margin-top: -3.5em;
        margin-left: -3.5em;
    }
}